<p-table
  [value]="status"
  styleClass="status"
  [autoLayout]="false"
  [loading]="loading"
  #drop
  class=""
  sortField="tc"
  [rowHover]="true"
>
  <!-- <ng-template pTemplate="caption">
    <div style="color: white">{{ terminal }} {{ tableLength }}</div>
  </ng-template> -->
  <!-- <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col style="width: 8%" />
      <col style="width: 4%" />
      <col style="width: 5%" />
      <col style="width: 5%" />
      <col style="width: 5%" />
      <col style="width: 23%" />
      <col style="width: 14%" />
      <col style="width: 14%" />
      <col style="width: 12%" />
      <col />
    </colgroup>
  </ng-template> -->
  <ng-template pTemplate="header">
    <tr
      style="
        color: white;
        background-color: gray;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
      "
    >
      <td>TC</td>
      <td>SR1</td>
      <td>D</td>
      <td>SR2</td>
      <td>Opciones</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
    <tr>
      <td>
        {{ row.tc | tractoFormat }}
      </td>
      <td>
        <label>{{ row.sr1 | containerFormat }}</label>
      </td>
      <td>
        <label>{{ row.d | dollyFormat }}</label>
      </td>
      <td>
        <label>
          {{ row.sr2 | containerFormat }}
        </label>
      </td>
      <td>
        <button
          pButton
          pRipple
          type="button"
          class="p-button-rounded p-button-outlined p-button-secondary p-button-sm"
          icon="pi pi-cog"
          (click)="openForWorkship(row.tc, row.sr1, row.d, row.sr2)"
          pTooltip="Agregue fallas al Tracto, Remolque y Dolly"
          tooltipPosition="bottom"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
<app-homemodal></app-homemodal>
